doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Madrid JsDay
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="description", content="Madrid JsDay")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/styles/main.css")

  body
    .social
      .center
        ul
          li
            a.fa.fa-twitter(href="")
          li
            a.fa.fa-youtube(href="")
          li
            a.fa.fa-envelope(href="")
