doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Madrid JsDay
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="description", content="Madrid JsDay")
    link(rel="stylesheet", href="/styles/main.css")

  body
    h1 test