doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Madrid JsDay
    meta(name="viewport" content="initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="description", content="Madrid JsDay")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/styles/main.css")

  body
    .header-nav
      .center
        .menu-responsive
           a.burger(href="")

        .social
          ul
            li
              a.fa.fa-twitter(href="")
            li
              a.fa.fa-youtube(href="")
            li
              a.fa.fa-envelope(href="")

    .menu
      ul.center
        li
          a(href="") ¿a quién esperamos?

        li
          a(href="") cuándo y donde

        li
          a(href="") agenda

        li
          a(href="") ponentes

        li
          a(href="") patrocinadores

        li
          a(href="") quiénes somos

        li
          a(href="") entradas