body {
  .main-wrapper {
    transition: transform .5s;
  }
  &.active {
    .main-wrapper {
      transform: translate(15rem, 0) scale(1, 1);
    }
  }
}

.menu {
  align-content: center;
  background-color: #34495e;
  height: 100%;
  left: -15rem;
  position: absolute;
  top: 0;
  width: 15rem;
  a {
    color: #fff;
    display: block;
    font-size: 15px;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-responsive {
  padding: 1rem 0;
  .burger {
    background: url('../images/burger.png') top left no-repeat;
    display: block;
    height: 16px;
    width: 16px;
  }
}

@media screen and (min-width: $responsive) {
  .menu {
    height: auto;
    left: 0;
    position: static;
    width: auto;
    ul {
      display: flex;
    }
    li {
      list-style: none;
      margin-right: 2rem;
    }
  }

  .menu-responsive {
    display: none;
  }
}
