.social {
  align-items: center;
  background-color: #3d5368;
  display: flex;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: #fff;
    font-size: 21px;
    opacity: .7;
    text-decoration: none;
  }
}
